<!DOCTYPE html>
<html>
    <head>
        <title>Did they survive?</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">


    </head>

    <body style="text-align: center;">

        <div class="header">
            <header>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('predictor') }}">Predictor</a></li>
                    </ul>
                </nav>
                <div class="socials"></div>
            </header>
        </div>
        <hr>

        <div id="paragraph">
            <p>Welcome to our Titanic Survival Predictor, where we use machine learning algorithms to analyze data from the Titanic disaster and predict your chances of survival based on your age, gender, class, and other factors.</p><p>Our sophisticated models take into account historical data and survivor demographics to provide accurate predictions of survival rates. Whether you're a history buff or just curious about what your chances would have been on the Titanic, our survival predictor can give you valuable insights into this historic event.</p><p>Try it out today and discover your chances of survival on the Titanic.</p>
        </div>
        
    </body>

</html>