<!DOCTYPE html>
<html>
    <head>
        <title>Did they survive?</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/predictor.css') }}">

    </head>
    <body>
        <div class="header">
            <header>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('predictor') }}">Predictor</a></li>
                        
                    </ul>
                </nav>
                <div class="socials"></div>
            </header>
        </div>
    <hr>
    <form action="{{ url_for('predictor') }}" method="POST">
        <div class="predict">
            <label class="label">
                Name <input name="name" style="width: 250px;" type="text" id="name" placeholder="Name">
            </label>
            <hr>

            <label class="label">
                Passenger Class<select name="pclass" id="pclass">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </label>
            <hr>
            <label class="label">
                Age <input name="age" type="number" id="age" placeholder="Age">
            </label>
            <hr>
            <label class="label">
                Parent or Children  <input name="parch" type="number" id="parch" placeholder="Parent / Children">
            </label>
            <hr>
            <label class="label">
                Sibling / Spouse <input name="sibsp" type="number" id="sibsp" placeholder="Sibling / Spouses">
            </label>
            <hr>
            <label class="label">
                Fare <input name="fare" type="number" id="fare" placeholder="Fare">
            </label>
            <hr>
            <label class="label">
                Sex<select name="sex" id="sex">
                    <option value="True">Male</option>
                    <option value="False">Female</option>
                </select>
            </label>
        </div>
        <br>
        <div class="submit">
            <label>
                <input type="submit" id="submit" value="Submit">
            </label>
        </div>
    </form>
    </body>

</html>     